.carrousel {
    overflow-x: scroll;
    width: 100%;
    display: flex;
}

.card {
    min-width: 230px;
    margin-right: 8px;
}

.footercard {
    display: flex;
    justify-content: space-between;
    align-items:initial;

}

.planets {
    min-width: 230px;
    min-height: 50px;
    margin-right: 8px;
}



